<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>动效</title>
    <link rel="stylesheet" href="/style.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/studio-freight/lenis@1.0.29/bundled/lenis.min.js"></script>
</head>
<body>
     <section class="intro">
<h1>enter frame</h1>
     </section>
     <section class="sticky-cards">
 <div class="card" id="card-1">
      <div class="col">
        <p>Quietly</p>
        <h1>Ethical Play</h1>
      </div>
      <div class="col">
        <img src="1.jpg" alt="Ethical Play Logo1" />
      </div>
    </div>
    <div class="card" id="card-2">
      <div class="col">
        <p>Quietly</p>
        <h1>Ethical Play</h1>
      </div>
      <div class="col">
        <img src="2.jpg" alt="Ethical Play Logo2" />
      </div>
    </div>
    <div class="card" id="card-3">
      <div class="col">
        <p>Quietly</p>
        <h1>Ethical Play</h1>
      </div>
      <div class="col">
        <img src="3.jpg" alt="Ethical Play Logo3" />
      </div>
    </div>
    <div class="card" id="card-4">
      <div class="col">
        <p>Quietly</p>
        <h1>Ethical Play</h1>
      </div>
      <div class="col">
        <img src="4.jpg" alt="Ethical Play Logo4" />
      </div>
    </div>
        </section>

    <section class="outro"> 
        <h1>leave frame</h1>
    </section>
    <script type="module" src="/scripts.js"></script>
</body>
</html>